.footer {
	background-color: #333333;
}
.footer__row {
	display: flex;
	justify-content:center;
	align-items: center;
	height: 176px;
}
.footer__container {
	max-width: 540px;
	margin: 0px auto;
}
.footer__text {
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #fff;
}
//====================================================================================================

//====================================================================================================

